.threeD1 {
  font-size: 100%;
  box-shadow: 2px 2px 2px blue;
}

.threeD1:hover {
  color: grey;
  box-shadow: 5px 5px 5px blue;
  transform: translate3d(2px, 2px, 2px) rotateX(20deg);
  background: white;
}

.threeD2 {
  font-size: 100%;
  box-shadow: 2px 2px 2px red;
  transition: transform 0.2s;
}

.threeD2:hover {
  color: grey;
  box-shadow: 5px 5px 5px red;
  transform: scale3d(0.8, 0.8, 0.8);
  background: white;
}
